<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013728011895-pju5fr5ucmhkfclth73qumptgtlnpgr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013728011895-pju5fr5ucmhkfclth73qumptgtlnpgr2</string>
	<key>API_KEY</key>
	<string>AIzaSyBnDg2svinuBm0IFXKpE77Fqb0xPuLkqNY</string>
	<key>GCM_SENDER_ID</key>
	<string>1013728011895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homi.tv</string>
	<key>PROJECT_ID</key>
	<string>homi-12756</string>
	<key>STORAGE_BUCKET</key>
	<string>homi-12756.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013728011895:ios:1aa3dcba0f4ff3667e4872</string>
</dict>
</plist>